* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}
:root {
  --main-text-900: #ffffff;

  --main-font: 2.0rem;
  --subtext-font: 1.5rem;
  --text-font: 1.0rem;
}
.main-info{
  width: 100%;
  height: 100vh;
}
.row{
  width: 100%;
}
.main-text-info{
  position: relative;
  width: 70vh;
  top: 35vh;
  color: var(--main-text-900);
  left: 50vh;
  z-index: 1;
}
.main-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
}