@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --main-text-900: #ffffff;
  --main-text-700: #242629;

  --main-font: 2.5rem;
  --subtext-font: 1.5rem;
  --text-font: 1.2rem;
}

body {
  line-height: 1.5;
  font-family: "Montserrat" sans-serif;
}

.section {
  background: pink;
  /* min-height: 100em; */
  display: block;
  padding: 0 30px;
}

.hidden {
  display: none !important;
}

.container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* background-color: #242629; */
  /* max-height: 30em; */
  /* width: 100%; */
  /* margin: auto; */
}
.aboutInfo {
  height: 900px;
  background: url("/img/main-img.png");
  background-position-x: 57%;
  background-position-y: 30%;
  display: flex;
}
.aboutTextInfo {
  width: 950px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-text-900);
  z-index: 1;
}
h1 {
  /* margin-right: 10vh; */
  font-size: var(--main-font);
  text-align: center;
}
h4 {
  /* margin-right: 10vh; */
  font-size: var(--subtext-font);
  text-align: center;
  font-weight: 400;
  opacity: 0.9;
  line-height: 0;
}
p {
  font-size: var(--text-font);
  margin-left: 9vh;
  margin-right: 5vh;
  margin-top: 40px;
  opacity: 0.9;
  padding-bottom: 30px;
}

.learning-text h1 {
  height: 9vh;
  padding-top: 10px;
  background-color: aqua;
  width: 100%;
  font-size: var(--main-font);
  font-weight: 400;
}

/* SERVICE SECTION */

.service .row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35vh, 1fr));
  place-items: center;
  width: 70%;
}

.service .service-item {
  margin: 2rem;
}

.service .service-item-inner {
  border: 5px solid red;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.service .service-item-inner .service-img{
  width: 100%;
  display: block;
}
img{
  width: 20rem;
}
.service .service-item-inner .service-img h3{
  width: 100%;
  text-align: center;
  font-weight: 900;
}
.service .service-item-inner .service-img p{
  width: 100%;
  padding: 20px 5px 20px 5px;
  margin: 0;
  font-size: 1.0rem;
}

.btn{
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.btn-Style{
  padding: 0;
  justify-content: left;
}
.btn-Info{
  background: black;
  color: white;
  font-weight: 900;
}
.btn-Contact{
  margin-left: 10px;
  background: white;
  color: black;
  font-weight: 900;
}
.btn-Info:hover,
.btn-Contact:hover{
  transform: scale(1.05);
}



@media(max-width:800px){
  .aboutTextInfo{
    
  }
  h1{
    font-size: 1.5rem;
  }
  h4{
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
  }
  p{
    font-size: 0.9rem;
    margin: 0;
  }
  .service .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10vh, 1fr));
    place-items: center;
    width: 50%;
  }
  img{
    width: 20rem;
  }
}